* {
    margin: 0;
    padding: 0;
}

body {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
        url("background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#netflix-logo {
    width: 200px;
    height: 200px;
}

header {
    display: flex;
    align-items: center;
}

#sign-in {
    margin-right: 150px;
    font-size: 15px;
    padding: 8px;
    background-color: rgb(215, 7, 7);
    color: wheat;
    border-radius: 8px;
    cursor: pointer;
}

#sign-in:hover {
    background-color: rgb(255, 0, 0);
}

#lang-options {
    font-size: 15px;
    padding: 6px;
    margin-left: 950px;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-family: "Georgia", serif;
}

#intro pre {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 70px;
    font-family: "Georgia", serif;
    height: 155px;
}

#price-intro {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

#membership-line {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 10px8;
}

#email {
    text-align: center;
    margin-top: 10px;
}

#email-box {
    font-size: 20px;
    padding: 10px;
    height: 25px;
    width: 410px;
    color: rgb(0, 0, 0);
    font-family: "Georgia", serif;
    border-radius: 5px;
    margin-right: 15px;
}

#email-box::placeholder {
    color: #000000;
    font-size: 20px;
}

#email-box:hover {
    border: 2px solid rgba(6, 6, 131, 0.744);
}

#get-started {
    font-size: 20px;
    height: 45px;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
    color: white;
    transition: transform 0.2s ease-out;
}

#get-started:hover{
    transform: scale(1.10);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

#trending-movies {
    color: white;
    padding-left: 150px;
    font-size: 30px;
}

#trending-numbers{
    font-size: 20px;
}

#parent1{
    display: flex;
    flex-direction: column;
    gap: 200px;
}

#trending-heading {
    padding-bottom: 50px;
    font-size: 50px;
}

#strangersT {
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#strangersT:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}


#trending-positon-1 {
    color: white;
}



#wednesday{
    height: 300px;
    width: 200px;
    padding-left: 50px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#wednesday:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}


#dhurandhar{
    height: 290px;
    width: 200px;
    border-radius: 10px;
    padding-left: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#dhurandhar:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}


#kapil-show{
    height: 300px;
    width: 200px;
    border-radius: 10px;
    padding-left: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#kapil-show:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}


#jolly3{
    height: 300px;
    width: 200px;
    border-radius: 10px;
    padding-left: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#jolly3:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}


#more-reasons{
    color: white;
    padding-left: 80px;
    font-size: 40px;
}


#parents2{
    display: flex;
    flex-direction: row;
}
#enjoy-tv{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 20px;
    padding-top: 25px;
    padding-left: 10px;
    color: rgb(222, 152, 152);
    margin-left: 80px;
    border-radius: 10px;
    background: #5c158f;
    background: linear-gradient(90deg, rgba(92, 21, 143, 1) 0%, rgba(121, 9, 87, 1) 100%, rgba(33, 5, 174, 1) 100%, rgba(0, 212, 255, 1) 100%);
    width: 250px;
    height: 265px;
}


#information{
    margin-top: 100px;
    padding-left: 100px;
    color: white;
    font-size: 35px;
    background-color: black;
}


#q1{
    margin-left: 100px;
    padding-left: 50px;
    color: white;
    font-size: 30px;background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 900px;
    height: 70px;
    padding-top: 25px;
    border-radius: 5px;
}



#q2{
    margin-top: 10px;
    margin-left: 100px;
    padding-left: 50px;
    color: white;
    font-size: 30px;background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 900px;
    height: 60px;
    padding-top: 25px;
    border-radius: 5px;
}
#q3{
    margin-top: 10px;
    margin-left: 100px;
    padding-left: 50px;
    color: white;
    font-size: 30px;background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 900px;
    height: 60px;
    padding-top: 25px;
    border-radius: 5px;
}
#q4{
    margin-top: 10px;
    margin-left: 100px;
    padding-left: 50px;
    color: white;
    font-size: 30px;background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 900px;
    height: 60px;
    padding-top: 25px;
    border-radius: 5px;
}
#q5{
    margin-top: 10px;
    margin-left: 100px;
    padding-left: 50px;
    color: white;
    font-size: 30px;background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 900px;
    height: 60px;
    padding-top: 25px;
    border-radius: 5px;
}


#ending{
    padding-top: 110px;
    color: white;
    background-color: black;
}


#end-font{
    font-size: 20px;
}